apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer
  labels:
    app: customer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customer
  template:
    metadata:
      name: customer
      labels:
        app: customer
    spec:
      containers:
        - name: customer
          image: moxanes/customer:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: client-kube
            - name: SPRING_DATASOURCE_HOST
              value: postgres
            - name: SPRING_DATASOURCE_USERNAME
              value: anescode
            - name: SPRING_DATASOURCE_PASSWORD
              value: password
            - name: SPRING_RABBITMQ_ADDRESSES
              value: rabbitmq:5672
            - name: SPRING_ZIPKIN_BASE_URL
              value: http://zipkin:9411
      restartPolicy: Always
      