server:
  port: 8080

spring:
  application:
    name: customer
  datasource:
    url: jdbc:postgresql://${SPRING_DATASOURCE_HOST:localhost}:5432/anescode
    username: anescode
    password: password
  # Move 'jpa' to the left so it aligns with 'datasource'
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  zipkin:
    base-url: http://localhost:9411/
  rabbitmq:
    addresses: localhost:5672
  profiles:
    active: client-default

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
    enabled: true
