apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification
  labels:
    app: notification
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      name: notification
      labels:
        app: notification
    spec:
      containers:
        - name: notification
          image: moxanes/notification:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: client-kube
            - name: SPRING_DATASOURCE_HOST
              value: postgres
            - name: SPRING_DATASOURCE_USERNAME
              value: anescode
            - name: SPRING_DATASOURCE_PASSWORD
              value: password
            - name : SPRING_RABBITMQ_ADDRESSES
              value : rabbitmq:5672
            - name : SPRING_ZIPKIN_BASE_URL
              value : http://zipkin:9411
      restartPolicy: Always
      