server:
  port: 8081

spring:
  application:
    name: fraud
  datasource:
    username: 'anescode'
    url: jdbc:postgresql://postgres:5432/fraud
    password: 'password'
  # Move 'jpa' to the left so it aligns with 'datasource'
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  zipkin:
    base-url: http://zipkin:9411/

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
    fetch-registry: true
    register-with-eureka: true
    enabled: false